html * {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #e4dfda;
    color: #000;
}

header {
    font-family: 'Farsan', cursive;
    background-color: #4357ad;
    color: #fff;
}

header h1 {
    padding: 10px 0;
    font-size: 48px;
}

header h1,
header h2,
main {
    margin: auto;
    width: 1024px;
    /* width:100%; */
}

header div.sub-title {
    background-color: #48a9a6;
    font-size: 14px !important;
}

main section {
    margin: 10px 0 15px 0;
    border: 1px #fff solid;
    border-radius: 6px;
    background-color: #eee;
    padding: 10px;
}

.clearfix { clear: both; }

header div.sub-title {    
    border-top: #eee 1px solid;
    /*height: 33px;*/
}

nav { margin: auto; width: 1024px; }

nav ul {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li { float: left; }

nav ul li.tagline {
    padding: 2px;
    float: right;
    font-size: 20px;
    font-style: italic
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none !important;
}

nav ul li a:hover:not(.active) { background-color: #4357ad; }
nav ul li a.active { background-color: #4357ad; }
nav ul li a:visited { color: #fff; }

.page-header {
    margin: 20px 0 20px;
    border-bottom: 1px solid #fff;
}
.button{
    color:white;
    background-color: #48a9a6;
    
}
.completed{
    background-color: red !important;
}